APP_NAME=smt
APP_ENV=development
LOG_LEVEL=INFO

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_VEHICLE_DETECTED=vehicle.detected.v1
KAFKA_TOPIC_INFRACTION_CREATED=infraction.created.v1
KAFKA_TOPIC_METRIC_COMPUTED=metric.computed.v1
KAFKA_TOPIC_WEATHER_ALERT=weather.alert.v1

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=smt_user
POSTGRES_PASSWORD=smt_dev_password
POSTGRES_DB_INFRACTIONS=smt_infractions
POSTGRES_DB_NOTIFICATIONS=smt_notifications

TIMESCALE_HOST=timescaledb
TIMESCALE_PORT=5432
TIMESCALE_USER=smt_user
TIMESCALE_PASSWORD=smt_dev_password
TIMESCALE_DB=smt_metrics

REDIS_HOST=redis
REDIS_PORT=6379

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=smt_minio
MINIO_SECRET_KEY=smt_minio_secret
MINIO_BUCKET=infraction-photos

VIDEO_SOURCE_URLS=https://res.cloudinary.com/dppju38gx/video/upload/v1776782872/14468488_3840_2160_30fps_iayndn.mp4,https://res.cloudinary.com/dppju38gx/video/upload/v1776782805/8321860-hd_1920_1080_30fps_zl1abc.mp4

POISSON_LAMBDA_DEFAULT=800
SPEED_MU_DEFAULT=90
SPEED_SIGMA_DEFAULT=12
SPEED_LIMIT_DEFAULT=110

IOT_GATEWAY_PORT=8001
STREAM_PROCESSOR_PORT=8002
METRICS_SERVICE_PORT=8003
VEHICLES_SERVICE_PORT=8004
NOTIFICATIONS_SERVICE_PORT=8005
API_GATEWAY_PORT=8000
DASHBOARD_PORT=8501
